# API Base URL for Mobile App
EXPO_PUBLIC_API_URL=http://192.168.31.11/api/v1

# Google OAuth Web Client ID (from Google Cloud Console -> APIs & Services -> Credentials)
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# Google OAuth Redirect URI
EXPO_PUBLIC_GOOGLE_REDIRECT_URI=https://auth.expo.io/@mohammed_fardeen_02/vtu-student-super-app